body {
    /* background-color: #adb9c2;
    background-image: url("https://www.transparenttextures.com/patterns/checkered-light-emboss.png"); */
    color: #72A0C1;

}

.bttn {
    margin-right: 10px
}

.jumbotron {
    background-color: #72A0C1;
}

