body {
    background-image: url("../images/clean-gray-paper.png");
    background-color: #adb9c2;
}

.bttn {
    margin-right: 10px;
}

#pic {
    margin-right: 5px;
}

.jumbotron {
    background-color: rgb(6, 33, 53);
}