body {
    background-image: url("../images/clean-gray-paper.png");
    background-color: #adb9c2;
}

.bttn {
    margin-right: 10px;
}

#pic {
    margin-right: 5px;
}

.jumbotron {
    background-color: #adb9c2;
}

@font-face {
    font-family: animalia;
    src: url(../images/bigfontsite.com_animalia-linotype.woff);
}

h1 {
    font-family: 'animalia', cursive;
}